
FLASK_SECRET_KEY=
FLASK_DEBUG=1

YT_DLP_DENO_PATH=~/.deno/bin/deno

GROQ_API_KEY=


OPENAI_MODEL=gpt-4o-mini
OPENAI_WEB_SEARCH_MODEL=gpt-5.4
OPENAI_TRANSCRIBE_MODEL=gpt-4o-mini-transcribe
OPENAI_API_KEY=
OLLAMA_IP_URL=http://192.168.0.248:11434


SMTP_SERVER=
SMTP_PORT=465
SMTP_USER=
SMTP_PASSWORD=
SENDER_EMAIL=
ADMIN_EMAIL=